.SidesheetContent {
  &:not([data-css-specificity-hack="🤷‍♀️"]) {
    box-shadow: -5px 0 8px 0 rgba(var(--mb-color-bg-black), 0.15);
    position: fixed;
    height: 100vh;
    max-height: 100vh;
    right: 0;
    border-radius: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

/* if you set overflow: auto on a child of this container you can move the scroll into it */
.FlexScrollContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column !important;
  height: 0;
}

.OverflowAuto {
  overflow: auto;
}

.ModalHeader {
  padding-inline-start: 2rem;
  padding-inline-end: 1.85rem;
  overflow-y: auto;
  min-height: 5rem;
  transition: box-shadow 0.3s ease;

  &.ModalHeaderWhenStackIsScrolled {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }
}

.ModalBody {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
}

.SidesheetSection {
  padding: 1.5rem;
  background-color: var(--mb-color-bg-white);
  border: 1px solid var(--mb-color-border);
  border-radius: 0.5rem;
}
